.description-editor-wrapper {

    &.bg-card {
        background-color: transparent;
    }
    
    
    .content-editor-content {
        height: unset;
        max-width: 900px;
        margin: 0 auto;

        @media (max-width: 480px) {
            max-width: 460px;
        }
    }

    .tiptap.ProseMirror {
        min-height: unset;

        &.content-editor {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    &.readonly {
        border: none !important;
        .tiptap.ProseMirror {
            padding: 0;
            max-width: unset;
        }
    }
}